<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page_name }}</title>
    <link rel="stylesheet" href="{{ url_for('presto.static', filename='css/style.css') }}"
    type="text/css" />
    <link rel="stylesheet" href="{{ url_for('presto.static', filename='css/lightgallery.css') }}"
    type="text/css" />
    <link rel="icon" type="image/svg" href="{{ url_for('presto.static', filename='img/icon.svg') }}">
  </head>

  <body>
    <nav>
    {% if breadcrumbs %}
      {% for a in breadcrumbs %}
          <a href="{{ a[1] }}">{{ a[0] }}</a>
          {% if not loop.last and not loop.first %} > {% endif %}
      {% endfor %}
    {% else %}
        <span>Home</span>
    {% endif %}
    </nav>

    <h1>{{ current_path }}</h1>
    
    {% if folders %}
    <div class="folders">
      {% for folder in folders %}
      <div>
        <a href="{{url_for('presto.gallery', path=folder[1]) }}">{{ folder[0] }}</a>
      </div>
      {% endfor %}
    </div>
    {% endif %}

    {% if images %}

    <div id="lightgallery" class="grid"></div>

    <footer>
    <script>
    const images = {{ images| tojson }}
    const maxHeight = {{ max_height }}
    </script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
    <script type="text/javascript" src="{{ url_for('presto.static', filename='js/grid_maker.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('presto.static', filename='js/lightgallery.js')}}"></script>
    <script>lightGallery(document.getElementById('lightgallery'), {speed:300, loop:false, controls:false, preload:2, hideBarsDelay:2000})</script>
    </footer>
    {% else %}
      {% if not folders %}
      <div><em>No photos in this folder</em></div>
      {% endif %}
    {% endif %}
  </body>
</html>
