body {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 10px;
}
.grid img {
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 4px;
  border: 0;
  background-color: whitesmoke;
}
.grid img:hover {
  filter: brightness(75%);
  transition: all 0.3s ease;
}
nav {
  padding-top: 10px;
}
.folders {
  padding-bottom: 10px;
}
a {
  color: #302ae6;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #272727;
    color: gainsboro;
  }
  a {
    color: #84c9fb;
  }
  .grid img {
    background-color: #333;
  }
}
